<div class="site-wrapper">
  <% include partials/nav %>
  <div class="about-wrapper">
    <div class="about-content">
      <p>Hi, I'm Will!</p>
      <p>I'm a writer turned web-developer based out of the Seattle area.</p>
      <p>I enjoy designing web applications with a variety of technologies but currently I 
      am most interested in React. Please do <a href="/">reach out to me </a>if you're
      looking for a developer</p>
    </div>
  </div>
</div>