<div class="landing-wrapper">
  <% include partials/nav %>
  <div class="landing-content">
    <h1>William Connelly</h1>
    <h2>Full-Stack Web Developer</h2>
    <span style="font-size: 3em;">
      <a href="https://github.com/Williamconnelly"><i class="fab fa-github landing-icon"></i></a>
      <a href="https://www.linkedin.com/in/williamrconnelly/"><i class="fab fa-linkedin landing-icon"></i></a>
      <a href="mailto:williamconnelly.dev@gmail.com"><i class="fas fa-envelope-square landing-icon"></i></a>
      <a href="static/img/WilliamConnelly-Resume.pdf" target="_blank"><i class="fas fa-file-download 
      landing-icon tooltipped" data-position="bottom" data-tooltip="Resume"></i></a>
    </span>
  </div>
  <div class="overlay"></div>
</div>