<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300|Raleway:400,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" 
    integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" 
    crossorigin="anonymous">
    <title>William Connelly</title>
    <link rel="stylesheet" href="/css/style.css">
  </head> 
  <body>
    <%- body %>
    <footer class="footer">
      <p>© 2018 William Connelly</p>
      <span style="font-size: 1.5em;">
        <a href="https://github.com/Williamconnelly" target="_blank"><i class="fab fa-github landing-icon"></i></a>
        <a href="https://www.linkedin.com/in/williamrconnelly/" target="_blank"><i class="fab fa-linkedin landing-icon"></i></a>
        <a href="mailto:williamconnelly.dev@gmail.com"><i class="fas fa-envelope-square landing-icon"></i></a>
        <a href="static/img/WilliamConnelly-Resume.pdf" target="_blank"><i class="fas fa-file-download 
        landing-icon tooltipped" data-position="bottom" data-tooltip="Resume"></i></a>
      </span>
    </footer>
  <script src="/js/script.js"></script>
  </body>
</html>
