<div class="site-wrapper">
  <% include partials/nav %>
  <% include partials/page-header %>
  <div class="projects-wrapper">
    <div class="project-card">
      <img class="preview-image danmaku-img" src="../img/danmaku.png" alt="Danmaku Game">
      <div class="project-content">
        <div class="project-title">
          <h2>Danmaku</h2>
        </div>
        <div class="project-buttons">
          <a class="project-button" href="/projects/danmaku">DETAILS</a>
          <a class="project-button" href="https://williamconnelly.github.io/danmaku-project/" target="_blank">LIVE SITE</a>
          <a class="project-button" href="https://github.com/Williamconnelly/danmaku-project" target="_blank">CODE</a>
        </div>
        <div class="project-desc">
          <p>Javascript game made in the style of a classic arcade shooter</p>
        </div>
        <div class="project-tech">
          <ul>
            <li>HTML</li>
            <li>Javascript</li>
            <li>CSS3</li>
            <li>jQuery</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="project-card">
      <img class="preview-image movielist-img" src="../img/movielist.png" alt="Danmaku Game">
      <div class="project-content">
        <div class="project-title">
          <h2>MovieList</h2>
        </div>
        <div class="project-buttons">
          <a class="project-button" href="/projects/movielist">DETAILS</a>
          <a class="project-button" href="https://express-movielist.herokuapp.com/" target="_blank">LIVE SITE</a>
          <a class="project-button" href="https://github.com/Williamconnelly/movielist" target="_blank">CODE</a>
        </div>
        <div class="project-desc">
          <p>Movie cataloguing and rating site. Search, Find, Add, and Rate your favorite movies</p>
        </div>
        <div class="project-tech">
          <ul>
            <li>Node.js</li>
            <li>Express</li>
            <li>PostgreSQL</li>
            <li>Sequelize</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="project-card">
      <img class="preview-image punchcard-img" src="../img/punchcard.png" alt="Danmaku Game">
      <div class="project-content">
        <div class="project-title">
          <h2>Punch Card</h2>
        </div>
        <div class="project-buttons">
          <a class="project-button" href="/projects/punchcard">DETAILS</a>
          <a class="project-button" href="https://punch-card.herokuapp.com/" target="_blank">LIVE SITE</a>
          <a class="project-button" href="https://github.com/Williamconnelly/punch-card" target="_blank">CODE</a>
        </div>
        <div class="project-desc">
          <p>A proof-of-concept app which allows users to punch digitized, restaurant reward cards.</p>
        </div>
        <div class="project-tech">
          <ul>
              <li>React</li>
              <li>Node.js</li>
              <li>Express</li>
              <li>MongoDB</li>
              <li>Mongoose</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>