<div class="site-wrapper">
  <% include partials/nav %>
  <div class="projects-wrapper">
    <div class="project-card">
      <div class="project-img">
        <img class="preview-image danmaku-img" src="../img/danmaku.png" alt="Danmaku Game">
      </div>
      <div class="project-content">
        <div class="project-title">
          <h2>Danmaku</h2>
        </div>
        <div class="project-buttons">
          <a class="project-button" href="https://williamconnelly.github.io/danmaku-project/" target="_blank">LIVE SITE</a>
          <a class="project-button" href="https://github.com/Williamconnelly/danmaku-project" target="_blank">CODE</a>
        </div>
        <div class="project-desc">
          <p>Javascript game made in the style of a classic arcade shooter</p>
        </div>
        <div class="project-tech">
          <ul>
            <li>HTML</li>
            <li>Javascript</li>
            <li>CSS3</li>
            <li>jQuery</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>