<div class="site-wrapper">
  <% include ../partials/nav %>
  <% include ../partials/page-header %>
  <div class="details-wrapper">
    <header>
      <h1>Danmaku</h1>
    </header>
    <div>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed, nisi quas! Veniam, corporis!
        Animi quae debitis dolorem fuga suscipit expedita? Earum rem neque ipsam excepturi? 
        Consectetur quod accusantium similique necessitatibus? Lorem ipsum dolor, sit amet consectetur 
        adipisicing elit. Sed, nisi quas! Veniam, corporis!
        Animi quae debitis dolorem fuga suscipit expedita? Earum rem neque ipsam excepturi? 
        Consectetur quod accusantium similique necessitatibus? Lorem ipsum dolor, sit amet 
        consectetur adipisicing elit. Sed, nisi quas! Veniam, corporis!
        Animi quae debitis dolorem fuga suscipit expedita? Earum rem neque ipsam excepturi? 
        Consectetur quod accusantium similique necessitatibus?
      </p>
    </div>
    <div>
      <h3>Front-End</h3>
      <ul>
        <li>Tech</li>
        <li>Tech</li>
        <li>Tech</li>
        <li>Tech</li>
        <li>Tech</li>
      </ul>
    </div>
    <div>
      <h3>Back-End</h3>
      <ul>
        <li>Tech</li>
        <li>Tech</li>
        <li>Tech</li>
        <li>Tech</li>
        <li>Tech</li>
      </ul>
    </div>
  </div>
</div>