<div class="site-wrapper">
  <% include ../partials/nav %>
  <% include ../partials/page-header %>
  <div class="details-wrapper">
    <header>
      <h1>Good Market</h1>
    </header>
    <hr />
    <div class="detail-image">
      <img src="../img/goodmarket_show.png" alt="Good Market">
    </div>
    <div class="project-buttons">
      <a class="project-button" href="https://good-market.herokuapp.com/" target="_blank">LIVE SITE</a>
      <a class="project-button" href="https://github.com/Williamconnelly/goodmarket" target="_blank">CODE</a>
    </div>
    <div>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed, nisi quas! Veniam, corporis!
        Animi quae debitis dolorem fuga suscipit expedita? Earum rem neque ipsam excepturi? 
        Consectetur quod accusantium similique necessitatibus? Lorem ipsum dolor, sit amet consectetur 
        adipisicing elit. Sed, nisi quas! Veniam, corporis!
        Animi quae debitis dolorem fuga suscipit expedita? Earum rem neque ipsam excepturi? 
        Consectetur quod accusantium similique necessitatibus? Lorem ipsum dolor, sit amet 
        consectetur adipisicing elit. Sed, nisi quas! Veniam, corporis!
        Animi quae debitis dolorem fuga suscipit expedita? Earum rem neque ipsam excepturi? 
        Consectetur quod accusantium similique necessitatibus?
      </p>
    </div>
    <div class="tech-wrapper">
      <div class="tech-details">
        <h3>Front-End</h3>
        <ul>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>JavaScript(ES6)</li>
        </ul>
      </div>
      <div class="tech-details">
        <h3>Back-End</h3>
        <ul>
          <li>Python</li>
          <li>Django</li>
          <li>PostgreSQL</li>
          <li>stripe api</li>
        </ul>
      </div>
    </div>
  </div>
</div>