<div class="site-wrapper">
  <% include ../partials/nav %>
  <% include ../partials/page-header %>
  <div class="details-wrapper">
    <header>
      <h1>Punch Card</h1>
    </header>
    <div class="detail-image">
      <img src="../img/punchcard_show.png" alt="Punch Card">
    </div>
    <div>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed, nisi quas! Veniam, corporis!
        Animi quae debitis dolorem fuga suscipit expedita? Earum rem neque ipsam excepturi? 
        Consectetur quod accusantium similique necessitatibus? Lorem ipsum dolor, sit amet consectetur 
        adipisicing elit. Sed, nisi quas! Veniam, corporis!
        Animi quae debitis dolorem fuga suscipit expedita? Earum rem neque ipsam excepturi? 
        Consectetur quod accusantium similique necessitatibus? Lorem ipsum dolor, sit amet 
        consectetur adipisicing elit. Sed, nisi quas! Veniam, corporis!
        Animi quae debitis dolorem fuga suscipit expedita? Earum rem neque ipsam excepturi? 
        Consectetur quod accusantium similique necessitatibus?
      </p>
    </div>
    <div class="tech-wrapper">
      <div class="tech-details">
        <h3>Front-End</h3>
        <ul>
          <li>Tech</li>
          <li>Tech</li>
          <li>Tech</li>
          <li>Tech</li>
          <li>Tech</li>
        </ul>
      </div>
      <div class="tech-details">
        <h3>Back-End</h3>
        <ul>
          <li>Tech</li>
          <li>Tech</li>
          <li>Tech</li>
          <li>Tech</li>
          <li>Tech</li>
        </ul>
      </div>
    </div>
  </div>
</div>